@font-face {
  font-family: 'Gotham Pro Medium';
  src: url('../../assets/fonts/Gotham/GothamPro-Medium.eot');
  src: url('../../assets/fonts/Gotham/GothamPro-Medium.eot?#iefix') format('embedded-opentype'),
  url('../../assets/fonts/Gotham/GothamPro-Medium.woff') format('woff'),
  url('../../assets/fonts/Gotham/GothamPro-Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham Book';
  src: url('../../assets/fonts/Gotham/GothamBook.eot');
  src: local('GothamBook'),
  url('../../assets/fonts/Gotham/GothamBook.woff') format('woff'),
  url('../../assets/fonts/Gotham/GothamBook.ttf') format('truetype');
}
