.search {
  padding: 30px 0;

  background: url("../../assets/img/search/bg.jpg") center no-repeat;
  background-size: cover;
  color: white;


  &__wrapper {
    width: 100%;
    max-width: 470px;
    margin: 0 auto;

    @media (max-width: 520px) {
      padding: 0 10px;
    }
  }

  &__title {
    font-size: 30px;
    text-align: center;
    margin: 30px 0;

    @media (max-width: 520px) {
      font-size: 20px;
    }
  }

  &__inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__parameters {
    @include input;

    @media (max-width: 520px) {
      max-width: none;
      font-size: 14px;
    }
  }

  &__btn {
    @include btn;

    @media (max-width: 520px) {
      font-size: 14px;
    }
  }

}

